/* GENERAL */
:root {
  --blueVinted: #2cb1ba;
}
a {
  text-decoration: none;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}
.app {
  font-family: "Maison Neue Light", sans-serif;
}
.app button {
  cursor: pointer;
}
h1 {
  font-size: 24px;
  line-height: 30px;
  font-weight: bold;
  margin: 30px 0;
}
.container {
  width: 1250px;
  margin: auto;
}

/* -------------------------------------------- */
/* DOWLADING */
.downloading {
  font-size: 50px;
  font-family: "Maison Neue Light", sans-serif;
  font-weight: bold;
  text-align: center;
  margin-top: calc((100vh - 200px) / 2);
}

/* ------------------------------------------------ */
/* HEADER */
header {
  height: 100px;
  max-width: 1250px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header button {
  height: 30px;
  width: 110px;
  font-size: 12px;
  font-family: inherit;
  border-radius: 5px;
}
header a button,
header button {
  border: 1px solid var(--blueVinted);
  background: none;
  margin-left: 20px;
}
.headerLastButton {
  background: var(--blueVinted);
  border: none;
  width: 120px;
  color: white;
  margin-left: 60px;
  margin-right: 10px;
}
.deconnect {
  background-color: #c2175b;
  border: none;
  color: white;
}
header input[type="search"] {
  width: 500px;
  border: none;
  border-radius: 5px;
  font-family: inherit;
  font-size: inherit;
  color: #999999;
  background-color: #f5f6f7;
  padding: 10px;
  margin-bottom: 10px;
}

/* HEADER - Filter */
header span {
  font-size: 12px;
  margin-right: 10px;
}
.prixEntre {
  margin-left: 50px;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0px;
}
input[type="number"] {
  -moz-appearance: textfield;
  width: 40px;
  margin-right: 10px;
  padding: 3px;
  border: none;
  border-radius: 3px;
  background-color: #f5f6f7;
}

/* HEADER - toggle */
.toggleSwitch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 18px;
}
.toggleSwitch .switch::before {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-image: url(./assets/img/desc.png);
  background-position: center;
  content: "";
  position: absolute;
  right: 2px;
  top: 1.5px;
  transition: transform 0.3s ease;
}
.toggleSwitch .switch {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  cursor: pointer;
  background-color: var(--blueVinted);
  background-position: center;
  border-radius: 25px;
  transition: background-color 0.2s ease;
}
.toggleSwitch input[type="checkbox"]:checked + .switch::before {
  transform: translateX(-16px);
  background-image: url(./assets/img/asc.png);
  background-position: center;
}
.toggleSwitch input[type="checkbox"]:checked + .switch {
  background-color: var(--blueVinted);
}

/* ---------------------------------------------- */
/* HOME PAGE - hero */
.hero {
  height: 450px;
  width: 100vw;
  overflow: hidden;
  margin-bottom: 50px;
  position: relative;
}
.bandeau {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}
.effet {
  position: absolute;
  right: 0;
  bottom: 0;
}
.rectangle {
  position: absolute;
  top: 70px;
  left: calc((100vw - 1250px) / 2);
  height: 270px;
  width: 410px;
  background-color: #fff;
  border-radius: 5px;
  padding: 40px 25px;
  box-sizing: border-box;
}
.rectangle h1 {
  font-size: 34px;
  line-height: 40px;
}
.rectangle button {
  font-family: inherit;
  color: #fff;
  background-color: var(--blueVinted);
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
}

/* HOME PAGE - offers */
.homeMain {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  max-width: 1250px;
  margin: auto;
}
.homeOffer {
  font-size: 12px;
  line-height: 16px;
  color: #999999;
  height: 470px;
  width: 230px;
  padding: 10px 10px;
}
.homeOffer a > p {
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.homeUser {
  display: flex;
  align-items: center;
}
.homeOwnerAvatar {
  height: 30px;
  width: 30px;
  object-fit: cover;
  object-position: top;
  border-radius: 50%;
  margin: 0 10px;
}
.homeProductPicture {
  height: 360px;
  width: 230px;
  object-fit: cover;
  object-position: center;
  margin: 10px 0;
}

/* ------------------------------------------------ */
/* OFFER PAGE */
.mainOffer {
  display: flex;
  justify-content: center;
  background-color: #ebedee;
  height: 100vh;
  align-items: center;
}

/* OFFER PAGE - photo */
.offerPicture {
  display: flex;
  justify-content: center;
}
.offerPicture img {
  max-height: 500px;
  max-width: 500px;
  object-fit: contain;
}

/* OFFER PAGE - aside */
.offerAside {
  /* height: 500px; */
  width: 400px;
  background-color: #fff;
  margin-left: 100px;
  padding: 30px;
  box-sizing: border-box;
}
/* OFFER PAGE - aside - firstpart */
.offerAsideFirstpart {
  border-bottom: 1px solid lightgrey;
  padding-bottom: 50px;
}
.offerAsideFirstpart > p {
  font-weight: bold;
  font-size: 24px;
  line-height: 30px;
  margin-bottom: 20px;
}
.offerAsideFirstpart > div {
  display: flex;
  font-size: 14px;
  line-height: 20px;
  font-weight: bold;
}
.offerAsideFirstpart > div > div:first-child {
  color: #999999;
  margin-right: 40px;
}
.offerAsideFirstpart > div > div:last-child {
  color: #666666;
}

/* OFFER PAGE -aside - secondpart */
.offerAsideSecondpart {
  padding-top: 50px;
  margin-bottom: 30px;
  line-height: 20px;
}
.offerAsideSecondpart p:nth-child(2) {
  color: #666666;
  margin-top: 20px;
}
.offerAsideSecondpart p:first-child {
  font-weight: bold;
}
.offerOwner {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.offerOwnerAvatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  margin-right: 10px;
  object-fit: cover;
  object-position: top;
}
.offerAside button {
  border: none;
  font-size: 16px;
  background-color: var(--blueVinted);
  border-radius: 5px;
  padding: 5px 0;
  width: 100%;
  color: white;
}

/* ------------------------------------------------ */
/* SIGNUP PAGE*/
.signupForm {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: auto;
}
.signupForm input {
  width: 400px;
}
.signupPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid lightgrey;
}
.signupPage form {
  width: 270px;
}
.signupPage form input {
  width: 100%;
}
.signupPage form div {
  display: flex;
}
.signupPage input {
  border: none;
  border-bottom: 1px solid #fcced3;
  background-color: white;
  margin-top: 20px;
  font-size: inherit;
  line-height: 40px;
  color: #999999;
}
.signupPage form div span {
  font-size: 14px;
  line-height: 40px;
  margin-top: 15px;
  color: #666666;
  width: 700px;
}
.signupPage p {
  font-size: 12px;
  margin: 20px 0;
}
.signupPage p {
  color: #999999;
}
.signupPage input[type="submit"] {
  background-color: var(--blueVinted);
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: inherit;
  font-size: inherit;
  margin-top: 30px;
}
.signupPage p:last-child {
  color: var(--blueVinted);
}

/* ---------------------------------------- */
/*  LOGIN PAGE*/
.loginPage {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 1px solid lightgrey;
}
.loginPage form {
  display: flex;
  flex-direction: column;
  width: 270px;
}
.loginPage input {
  border: none;
  border-bottom: 1px solid #fcced3;
  background-color: white;
  margin-top: 20px;
  font-size: inherit;
  line-height: 40px;
  color: #999999;
}
.loginPage input[type="submit"] {
  background-color: var(--blueVinted);
  height: 40px;
  border: none;
  border-radius: 5px;
  color: white;
  font-family: inherit;
  font-size: inherit;
  margin-top: 40px;
}
.loginPage p {
  font-size: 12px;
  color: var(--blueVinted);
  margin: 20px 0;
}

/* ------------------------------- */
/* PUBLISH PAGE */
.publishPage {
  display: flex;
  flex-direction: column;
  background-color: #ebedee;
  height: 100vh;
}
.publishPage h2 {
  margin-top: 40px;
  font-weight: bold;
  font-size: 24px;
}
.publishPage form > div:not(:last-child) {
  margin: 20px 0;
  border: 1px solid lightgrey;
  background-color: #fff;
  width: 100%;
  padding: 10px 25px;
}
.publishPage form > div > div {
  display: flex;
  /* align-items: center; */
  padding-bottom: 20px;
  justify-content: space-between;
  line-height: 40px;
}
.publishPage form > div > div:not(:last-child) {
  border-bottom: 1px solid lightgrey;
}
.publishPage form > div > div input {
  font-size: inherit;
  color: lightgrey;
  margin-right: 20px;
  width: 600px;
  height: 45px;
  border: none;
  border-bottom: 1px solid lightgrey;
  background-color: #fff;
}
.textarea {
  padding-top: 10px;
  border: none;
  color: lightgrey;
  font-family: inherit;
  border-bottom: 1px solid lightgrey;
}
.publishPage form > div:first-child {
  height: 250px;
  padding: 20px;
  border-spacing: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.publishPage img {
  height: 240px;
  width: 150px;
  object-fit: cover;
  object-position: center;
}
.publishPage input[type="submit"] {
  font-size: inherit;
  background-color: var(--blueVinted);
  border: none;
  border-radius: 5px;
  color: #fff;
  padding: 5px 10px;
}
.publishPage form > div:last-child {
  margin-top: 40px;
  font-size: 18px;
  display: flex;
  justify-content: flex-end;
}
.publishPage form > div:last-child span {
  color: var(--blueVinted);
  font-weight: bold;
  line-height: 30px;
  margin-right: 30px;
}
.exchange {
  margin-left: 340px;
  transform: scale(0.5);
}
/* ------------------------------------------------ */
/* PAYMENT PAGE */
.paymentPage {
  background-color: #ebedee;
  height: 100vh;
  padding-top: 50px;
}
.commande {
  /* height: 600px; */
  width: 500px;
  margin: auto;
  border-radius: 5px;
  background-color: #fff;
  padding: 25px;
}
.commande h4 {
  font-size: 14px;
  color: #999999;
  margin-bottom: 30px;
}
.recap {
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 15px;
  color: #999999;
  display: flex;
  justify-content: space-between;
}
.recap:nth-child(4) {
  margin-bottom: 50px;
}
.commande form {
  border-top: 1px solid lightgrey;
  padding-top: 40px;
}

.totalPayment {
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.commande form p {
  margin-bottom: 30px;
  padding-bottom: 30px;
  border-bottom: 1px solid lightgrey;
  text-align: center;
}
.commande form p span {
  font-weight: bold;
}
.cardElement {
  border: 1px solid rgb(241, 238, 238);
  border-radius: 3px;
  padding: 10px;
}
.commande form input[type="submit"] {
  background-color: #02c06d;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 0;
  width: 100%;
  font-family: inherit;
  font-weight: bold;
  font-size: inherit;
  margin-top: 30px;
}

/* ------------------------------------------------------- */
/* MEDIA QUERIES */

@media (min-width: 820px) and (max-width: 1130px) {
  /* 820 > 1130px --- HOME PAGE - hero */
  header button {
    height: 25px;
    width: 90px;
    font-size: 10px;
  }
  header a button,
  header button {
    margin-left: 15px;
  }
  .headerLastButton {
    width: 100px;
    margin-left: 40px;
  }
  header input[type="search"] {
    width: 300px;
    padding: 5px;
    font-size: 12px;
    margin-bottom: 10px;
  }

  /* 820 > 1130px --- HEADER - Filter */
  header span {
    font-size: 10px;
  }
  .prixEntre {
    margin-left: 20px;
  }
  input[type="number"] {
    font-size: 10px;
    width: 30px;
  }

  /* 820 > 1130px --- HEADER - toggle */
  .toggleSwitch {
    width: 40px;
    height: 16px;
  }
  .toggleSwitch input[type="checkbox"] {
    display: none;
  }
  .toggleSwitch .switch::before {
    width: 13px;
    height: 13px;
    top: 1.7px;
  }
  .toggleSwitch input[type="checkbox"]:checked + .switch::before {
    transform: translateX(-13px);
  }

  /* ------------ */
  /* 820 > 1130px --- HOME PAGE - hero */
  .hero {
    height: 33vw;
  }
  .rectangle {
    display: none;
  }

  /* ---------- */
  /* 820 > 1130px --- OFFER PAGE  */
  .mainOffer {
    /* display: flex;
  justify-content: center; */
    /* background-color: #ebedee; */
    height: 100vh;
    /* align-items: center; */
  }

  /* 820 > 1130px --- OFFER PAGE - photo */

  .offerPicture img {
    max-height: 450px;
    max-width: 450px;
  }
}
/* 820 > 1130px --- OFFER PAGE - aside */
.offerAside {
  width: 350px;
  margin-left: 50px;
}

/* -------------------------------------- */
@media (max-width: 819px) {
  /* max 819px --- HEADER */
  header {
    height: 250px;
    flex-direction: column;
  }
  header img {
    margin-top: 10px;
  }
  .headerElement:nth-child(3) {
    order: 2;
    margin: 30px 0;
  }
  .headerElement:nth-child(2) {
    order: 3;
    margin-bottom: 20px;
    text-align: center;
  }
  header button {
    height: 30px;
    width: 100px;
    font-size: 11px;
  }
  header a button,
  header button {
    margin-left: 20px;
  }
  .headerLastButton {
    width: 110px;
    margin-left: 20px;
    margin-right: 8px;
  }
  header input[type="search"] {
    width: 420px;
    font-size: 14px;
    margin-bottom: 15px;
  }

  /* max 819 px --- HEADER - Filter */
  header span {
    font-size: 12px;
    margin-right: 10px;
  }

  /* ------------ */
  /* max 819 px --- HOME PAGE - hero */
  .hero {
    height: 33vw;
  }
  .rectangle {
    display: none;
  }

  /* ------------- */
  /* max 819 px --- HOME PAGE - offers */
  .homeProductPicture {
    height: 300px;
  }

  /* ------------ */

  /* max 819 px --- OFFER PAGE */
  .mainOffer {
    display: flex;
    justify-content: center;
    background-color: #ebedee;
    height: 100vh;
    align-items: center;
  }

  /* max 819 px --- OFFER PAGE - photo */
  .offerPicture img {
    max-height: 350px;
    max-width: 350px;
  }

  /* max 819 px --- OFFER PAGE - aside */
  .offerAside {
    width: 280px;
    margin-left: 20px;
    padding: 20px;
  }

  /* max 819 px --- OFFER PAGE - aside - firstpart */
  .offerAsideFirstpart {
    padding-bottom: 20px;
  }
  .offerAsideFirstpart > p {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  .offerAsideFirstpart > div {
    font-size: 12px;
  }
  .offerAsideFirstpart > div > div:first-child {
    margin-right: 25px;
  }

  /* max 819px --- OFFER PAGE -aside - secondpart */
  .offerAsideSecondpart {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .offerAsideSecondpart p:nth-child(2) {
    margin-top: 10px;
  }
  .offerAside button {
    font-size: 14px;
  }

  /* ------------ */
  /* max 819px --- PAYMENT PAGE */
  /* .paymentPage {
    background-color: #ebedee;
    height: 100vh;
    padding-top: 50px;
  } */
  .commande {
    /* height: 600px; */
    width: 380px;
    /* margin: auto; */
    /* border-radius: 5px; */
    /* background-color: #fff; */
    /* padding: 25px; */
  }
  /* .commande h4 {
    font-size: 14px;
    color: #999999;
    margin-bottom: 30px;
  } */
  /* .recap {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 15px;
    color: #999999;
    display: flex;
    justify-content: space-between;
  } */
  /* .recap:nth-child(4) {
    margin-bottom: 50px;
  }
  .commande form {
    border-top: 1px solid lightgrey;
    padding-top: 40px;
  }

  .totalPayment {
    font-weight: bold;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
  } */
  .commande form p {
    font-size: 14px;
    /* margin-bottom: 30px;
    padding-bottom: 30px;
    border-bottom: 1px solid lightgrey;
    text-align: center; */
  }
  /*.commande form p span {
    font-weight: bold;
  }
  .cardElement {
    border: 1px solid rgb(241, 238, 238);
    border-radius: 3px;
    padding: 10px;
  }
  .commande form input[type="submit"] {
    background-color: #02c06d;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    width: 100%;
    font-family: inherit;
    font-weight: bold;
    font-size: inherit;
    margin-top: 30px;
  } */
}
/* ---------------------------------------------- */
@media (max-width: 516px) {
  /* max 516px --- HEADER */
  header {
    height: 280px;
    border-bottom: 1px solid lightgrey;
    flex-direction: column;
  }
  header img {
    margin-top: 10px;
  }
  .headerElement:nth-child(3) {
    order: 2;
    margin: 30px 0;
  }
  .headerElement:nth-child(2) {
    order: 3;
    margin-bottom: 20px;
    text-align: center;
  }
  header button {
    width: 100px;
  }
  header a button,
  header button {
    margin-left: 10px;
  }
  .headerLastButton {
    margin-left: 10px;
    margin-right: 10px;
  }
  header input[type="search"] {
    width: 300px;
    font-size: 14px;
    margin-bottom: 30px;
  }

  /* max 516px --- HEADER - Filter */
  header span {
    margin-right: 10px;
  }
  .prixEntre {
    margin-left: 20px;
  }
  input[type="number"] {
    font-size: 12px;
  }

  /* ------------ */
  /* max 516px --- HOME PAGE - hero */
  .hero {
    display: none;
  }
  /* ------------ */

  /* max 516px --- PAYMENT PAGE */
  .commande {
    width: 280px;
  }
  .commande h4 {
    font-size: 12px;
  }
  .recap {
    font-size: 14px;
  }
  .recap:nth-child(4) {
    margin-bottom: 30px;
  }
  .commande form {
    padding-top: 25px;
  }

  .totalPayment {
    margin-bottom: 35px;
  }
  .commande form p {
    font-size: 12px;
    padding-bottom: 20px;
  }
}
@media (max-width: 675px) {
  /* max 675px --- OFFER PAGE */
  .mainOffer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  /* max 675px --- OFFER PAGE - photo */
  .offerPicture {
    margin: 30px 0;
  }
  .offerPicture img {
    max-height: 300px;
    max-width: 300px;
  }

  /* max 675px --- OFFER PAGE - aside */
  .offerAside {
    width: 280px;
    margin-left: 0px;
    padding: 20px;
  }

  /* max 675px --- OFFER PAGE - aside - firstpart */
  .offerAsideFirstpart {
    padding-bottom: 20px;
  }
  .offerAsideFirstpart > p {
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 15px;
  }
  .offerAsideFirstpart > div {
    font-size: 12px;
  }
  .offerAsideFirstpart > div > div:first-child {
    margin-right: 25px;
  }

  /* max 675px --- OFFER PAGE -aside - secondpart */
  .offerAsideSecondpart {
    padding-top: 20px;
    margin-bottom: 20px;
    font-size: 14px;
  }
  .offerAsideSecondpart p:nth-child(2) {
    margin-top: 10px;
  }
  .offerAside button {
    font-size: 14px;
  }
}
